body {
  background-color: #d1c6d8;
  margin: 0;
  font-family: Arial, sans-serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  justify-items: center;
}
.pedirNumero{
  margin-bottom:5px ;
}
table {
  background-color: rgb(240, 189, 245);
  width: 50%;
  border-collapse: collapse rgb(183, 121, 189);; /* Esto asegura que las celdas estén juntas sin doble borde */
}

th, td {
  border: 1px solid black; /* Añade un borde de 1px a todas las celdas */
  padding: 8px; /* Espaciado dentro de las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
}

th {
  background-color: #c78ce9; /* Color de fondo para las cabeceras */
}

button{
  border-color: rgb(147, 89, 201);
  background-color: #baacc4;
  border-radius: 5px;
  margin:5px;
  cursor: pointer;
}
